<section class="p-4 bg-main-light">
    <div class="container-fluid">
      <div class="title">
        <h4>Get The FreshCart App</h4>
        <p class="lead text-secondary">
          We Will Send You a Link,open it on Your Phone
        </p>
      </div>
  
      <div class="footer-info mx-4">
        <div class="form-item d-flex gap-4">
          <input
            type="text"
            class="form-control flex-grow-1"
            placeholder="Email..."
          />
          <button class="btn-main px-3 flex-shrink-0">Share App Link</button>
        </div>
  
        <hr class="border-secondary" />
  
        <div class="copy-right">
          <h6 class="text-center">© 2024 Ali Elnoby , All Rights Reserved</h6>
        </div>
      </div>
    </div>
  </section>