<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">

    <form (ngSubmit)="handelform()"  [formGroup]="forgetform">
        <div class="p-3">
            <h2 class="h3 text-main">please enter your email</h2>
            <input #inputEmail type="email"  id="email" placeholder="Email"  class="form-control" formControlName="email" />
    
            <div class="alert alert-danger" *ngIf="forgetform.get('email')?.errors && (forgetform.get('email')?.touched||inputEmail.value.length>0)">
                <p *ngIf="forgetform.get('email')?.getError('required')">email is Required</p>
                <p *ngIf="forgetform.get('email')?.getError('email')">email Invaled</p>
    
            </div>
            
            <button class="btn-main mt-3">Send Verification Code</button>
    
        </div>
    
    </form>

</section>
