<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">
    <h1>Shop Cart</h1>




    <div *ngFor="let cartitem of cartproducts.slice(cartproducts.length -1,cartproducts.length -0)">
        <p class="text-main">Total Order Price : {{cartitem.totalOrderPrice  | currency:' EGP '}}</p>
        <div class="row border-bottom" *ngFor="let itemDetails of cartitem.cartItems">
            <div class="col-md-1">
                <img class="w-100"  [src]="itemDetails.product.imageCover" [alt]="itemDetails.product.title">
            </div>
            <div class="col-md-11 ">
               <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="h5">{{itemDetails.product.title}}</h3>
                    <p class="text-main my-0">Price : {{itemDetails.price}}</p>
                </div>
                <div>
                    <span> {{itemDetails.count}} </span>
                </div>
               </div>
            </div>
        </div>

  
    </div>
</section>
