<section class="bg-main-light mx-auto my-3 w-75">
  <form (ngSubmit)="handelform()" [formGroup]="resetpasswordform">
    <div class="p-3">
      <h2 class="h3 text-main">reset your account password</h2>

      <input
        #inputEmail
        type="email"
        id="email"
        placeholder="Email"
        class="form-control"
        formControlName="email"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          resetpasswordform.get('email')?.errors &&
          (resetpasswordform.get('email')?.touched ||
            inputEmail.value.length > 0)
        "
      >
        <p *ngIf="resetpasswordform.get('email')?.getError('required')">
          email is Required
        </p>
        <p *ngIf="resetpasswordform.get('email')?.getError('email')">
          email Invaled
        </p>
      </div>
      <input
        #inputnewPassword
        type="password"
        id="newPassword"
        placeholder="newPassword"
        class="form-control"
        formControlName="newPassword"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          resetpasswordform.get('newPassword')?.errors &&
          (resetpasswordform.get('newPassword')?.touched ||
            inputnewPassword.value.length > 0)
        "
      >
        <p *ngIf="resetpasswordform.get('newPassword')?.getError('required')">
          newPassword is Required
        </p>
        <p *ngIf="resetpasswordform.get('newPassword')?.getError('pattern')">
          password must start with uppercase then from 6 to 20
        </p>
      </div>

      <button class="btn-main mt-3">Verify</button>
    </div>
  </form>
</section>
